body{
    width: 770px;
    margin: auto;
    color: black;
    font-size: 1.5em;
    font-family: Arial;    
}

body p{
    margin-top: 0.5em;
}

body a{
    color: blue;
}

body a:visited{
    font-family: Verdana;
    color: blue;
}

body a:hover{
    color: red;
}

header{
    height: 100px;
    background-color: #BDBDBD;
    background-image: url("img/cabecera.jpg");
}

.lateral-l{
    width: 200px;
    height: 1500px;
    float: left;
    text-align: center;
    background-color: #a8a8a8;
}

.center{
    width: 330px;
    height: 1500px;
    float: left;
    margin-left: 20px;
    text-align: center;
    background-color: #F0F0F0;
}

.center img{
    width: 330px;
    height: auto;
}

.center table a{
    color: green;
}

.center table a:hover{
    color: blue;
}

.lateral-r{
    width: 200px;
    height: 1500px;
    float: right;
    text-align: center;
    background-color: #a8a8a8;
}

footer{
    height: 25px;
    text-align: center;
    background-color: black;
    color: #ffffff;
    margin-top: 1500px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.menu li a:hover {
    background-color: #111;
}

.menu2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

.menu2 li {
    float: left;
}

.menu2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu2 li a:hover {
    background-color: #111;
}